.banner{
    margin: 0 auto;
    width: 80%;
    height: 300px;
    margin-bottom: 50px;
}

.banner-cell{
    width: 100%;
    height: 100%;
}

.banner-cell img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .flickity-button{
    background: var(--azul-medio);
    color: var(--texto-claro);
    &:hover{
        background: var(--azul-claro);
    }
}

.banner .flickity-page-dots .dot{
    background: var(--azul-medio);
}

@media (max-width: 768px){
    .banner{
        width: 100%;
        height: 200px;
    }

    .banner .flickity-button{
        width: 30px;
        height: 30px;
    }
}