.produtos-container-titulo{
    margin: 1rem;
    font-size: 2rem;
}

.produto-container{
    width: 100%;
    height: 100%;
}

.produto-interno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 1200px; /* Por exemplo, para limitar a largura máxima */
    margin: 0 auto;
}

.produto-item {
    scroll-snap-align: start;
    max-width: 300px;
    height: 400px; 
    flex: 0 0 100%; 
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.produto-item h2, 
.produto-item p, 
.produto-item .produto-item-estrelas {
    padding: 0 .5rem 0 .5rem;
}

.produto-item-titulo{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    text-decoration: var(--azul-forte ) underline wavy .05rem;
    transition: 300ms;
}

.produto-item > img:hover ~ .produto-item-titulo {
    color: var(--azul-forte );
    text-decoration: underline wavy var(--azul-forte ) .1rem;
    transform: scale(1.005);
}

.produto-item-titulo:hover {
    color: var(--azul-forte);
    text-decoration: var(--azul-forte) underline wavy .1rem;
    scale: 1.005;
}
.produto-item-estrelas {
    color: var(--azul-forte);
}

.produto-item > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background: var(--azul-forte);
    cursor: pointer;
}

.produto-item-preco {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: var(--azul-medio);
    color: white;
    padding: .5rem;
    border-radius: 0 10px 0 10px;
}


.produto-item:hover {
    transform: scale(1.005);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
    transition: transform .3s;
}

.adicionarCarrinho{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: var(--azul-claro);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 200ms;
    &:hover{
        background-color: var(--azul-medio);
    }
    &:active{
        scale: 0.9;
    }
}
.produto-interno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

@media (max-width: 1024px) {
    .produto-interno {
        grid-template-columns: repeat(3, 1fr); 
    }

    .produto-item {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .produto-interno {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }
}

