.mainSection {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  max-width: 1200px;
  height: auto;
  grid-gap: 20px;
  margin: 20px auto;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-template-areas:
    /* "titulo titulo titulo" */
    "sub img descricao";
}

.produtoTitulo {
  /* grid-area: titulo; */
  text-align: left;
  margin-bottom: 20px;
}

.produtoTitulo h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.produtoSubImg {
  grid-area: sub;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.produtoSubImg img {
  transition: 200ms;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 10px;
  border: 2px solid transparent;
  opacity: 0.7;
  cursor: pointer;
  object-fit: contain;
}

.produtoSubImg img:hover {
  border-color: var(--azul-medio);
  opacity: 1;
  transform: scale(1.1);
}

.produtoImgContainer {
  grid-area: img;
  width: 100%;
  height: 100%;
  position: relative;
}

.produtoImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produtoImg {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.controles {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.controle {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  transition: background 200ms;
  color: var(--azul-forte);
  font-size: 18px;
}

.controle:hover {
  background: var(--azul-forte);
  color: var(--texto-claro);
}

.produtoDescricao {
  grid-area: descricao;
  padding: 0 20px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.produtoDescricao .valor {
  font-size: 22px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 15px;
}

.produtoDescricao h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.produtoDescricao p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.produtoDescricaoBotoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produtoDescricaoBotoes button {
  background: var(--azul-medio);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.produtoDescricaoBotoes button i {
  position: absolute;
  left: 10px;
  font-size: 16px;
}

.produtoDescricaoBotoes button:hover {
  background: var(--azul-forte);
}

.produtoDescricaoBotoes button:active {
  transform: scale(0.99);
}

.produtoDescricao a {
  display: inline-block;
  margin-top: 15px;
  color: var(--azul-medio);
  text-decoration: none;
  font-size: 16px;
  transition: color 200ms;
}

.produtoDescricao a:hover {
  color: var(--azul-escuro);
}

.produtoDescricao .container{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.produto-estrelas {
  color: var(--azul-forte);
  font-size: 2rem;
  margin-bottom: 10px;
  width: fit-content;
}

.produtoQuantidade {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.produtoQuantidade input {
  width: 50px;
  padding: 5px;
  border: none;
  background: none;
}


@media (max-width: 768px) {
  .mainSection {
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "img"
      "sub"
      "descricao";
  }

  .produtoSubImg {
    flex-direction: row;
    gap: 10px;
  }

  .produtoSubImg img {
    width: 60px;
  }

  .produtoDescricaoBotoes button i {
    left: 5px;
  }
}
